<?xml version="1.0"?>

<model>
  <name>rocky_mtn</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>andrew</name>
    <email>awong2@andrew.cmu.edu</email>
  </author>

  <description>
    This is a scaled down version of a random place in the rocky mountains.
  </description>
</model>
